@import "syntax-variables";

.editor {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
}

.editor .gutter {
  background-color: @syntax-gutter-background-color;
  color: @syntax-gutter-text-color;
}

.editor .gutter .line-number.cursor-line {
  background-color: @syntax-gutter-background-color-selected;
  color: @syntax-gutter-text-color-selected;
}

.editor .gutter .line-number.cursor-line-no-selection {
  color: @syntax-gutter-text-color-selected;
}

.editor .wrap-guide {
  color: @syntax-wrap-guide-color;
}

.editor .indent-guide {
  color: @syntax-indent-guide-color;
}

.editor .invisible-character {
  color: @syntax-invisible-character-color;
}

.editor .search-results .marker .region {
  background-color: transparent;
  border: @syntax-result-marker-color;
}

.editor .search-results .marker.current-result .region {
  border: @syntax-result-marker-color-selected;
}

.editor.is-focused .cursor {
  border-color: @syntax-cursor-color;
}

.editor.is-focused .selection .region {
  background-color: @syntax-selection-color;
}

.editor.is-focused .line-number.cursor-line-no-selection, .editor.is-focused .line.cursor-line {
  background-color: #303030;
}

.comment {
  color: #808080;
}

.string {
  color: #ff9580;
}

.constant {
  color: #ff9580;
}

.constant.numeric {
  font-weight: bold;
}

.constant.language {
  font-weight: bold;
}

.constant.character, .constant.other {
  color: #7acc7c;
}

.keyword {
  font-weight: bold;
  color: #7acc7c;
}

.keyword.operator {
  font-weight: bold;
  color: #ffad59;
}

.storage {
  font-weight: bold;
  color: #ffffb3;
}

.storage.modifier {
}

.entity.name {
  color: #99feff;
}

.entity.name.type {
  font-weight: bold;
}

.support.function {
  color: #99feff;
}

.variable {
  color: #99feff;
}

.invalid {
  color: #cccccc;
  background-color: #660000;
}

.meta.diff, .meta.diff.header {
  color: #99feff;
}

.markup.deleted {
  color: #ff9580;
}

.markup.inserted {
  color: #7acc7c;
}

.markup.changed {
  color: #ffa040;
}
